{% extends 'shop/base.html' %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}
    <a href="{% url 'category_detail' product.category.slug %}">← Назад к категории</a>
    
    <h1>{{ product.name }}</h1>
    
    {% if product.image %}
        <img src="{{ product.image.url }}" alt="{{ product.name }}" style="max-width: 400px;">
    {% endif %}
    
    <p><strong>Цена:</strong> {{ product.price }} usd.</p>
    <p><strong>Описание:</strong> {{ product.description }}</p>
    <p><strong>Категория:</strong> {{ product.category.name }}</p>
    <p><strong>В наличии:</strong> {% if product.in_stock %} Да ✅ {% else %} Нет ❌ {% endif %}</p>

    <a href="{% url 'add_to_cart' product.slug %}">
        <button>🛒 Добавить в корзину</button>
    </a>
    <br><br>
    <a href="{% url 'cart_view' %}">🛍️ Перейти в корзину</a>
{% endblock %}